body {
    font-family: 'poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    background-color: black;
    color: #333333;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

header .logo,
header .logo-culto {
    width: 150px;
    transition: 0.2s ease-in-out;
}

header .logo,
header .logo-culto {
    transform: scale(1.05);
    cursor: pointer;
}

header .logo:hover,
header .logo-culto:hover,
main.cartao-das-subs:hover,
main .descicao-lider:hover {
    transform: scale(1.25);
    cursor: pointer;
}

main {
    padding: 30px;
}

main .subs {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

main .loc {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: blueviolet;
    font-size: 30px;
}

main .container-form {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;

}

main .descicao-lider:hover {
    background-color: aliceblue;
    transform: scale(1.05);

}

main .cartao-das-subs {
    background-color: #2e2e2e;
    width: 380px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

main .lideranca main .cartao-das-subs:hover {
    background-color: aliceblue;
    transform: scale(1.05)
}

main .cartao-das-subs .informacoes {
    display: flex;
    justify-content: center;
}

main .cartao-das-subs .informacoes span {
    padding: 5px;
    text-transform: uppercase;
    font-size: 25px;
    color: blueviolet;
}

main .cartao-das-subs .lideranca {
    padding: 8px;
    border-radius: 10px;
    font-size: 30;
    color: blueviolet;
}

main .descricao {
    max-height: 80px;
    overflow-y: scroll;
    font-size: 20px;
    padding-right: 10px;
    color: blueviolet;
}

main .imagens-subs {
    justify-content: center;
    align-items: center;
    display: flex;
}

main .imagens {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 600px;
    height: 400px;
    align-items: center;}

    .slider-container {
        width: 100%;
        overflow: hidden;
      }
      
      .slider {
        display: flex;
        transition: transform 0.5s ease-in-out;
      }
      
      .slider img {
        width: 100%;
        height: auto;
      }
      .slider-container {
        position: relative;
        width: 100%;
        overflow: hidden;
      }
      
      .slider {
        display: flex;
        transition: transform 0.5s ease-in-out;
      }
      
      .slider img {
        width: 100%;
        height: auto;
      }
      
      .slider-controls {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
      }
      
      .slider-controls button {
        background-color: transparent;
        border: none;
        font-size: 24px;
        color: #ffffff;
        cursor: pointer;
        margin: 0 10px;
        outline: none;
      }
      
      .slider-controls button:hover {
        color: #fdfdfd;
      }
      .benjamidia1{
        align-items: center;
        color: blueviolet;
        justify-content: center;
    

      }